.skin-blue .main-header .logo {
    background-color: #afccc7;
}

.skin-blue .main-header .navbar {
    background-color: #afccc7;
}

.skin-blue .main-sidebar {
    background-color: #a8937e;
}

.welcomebox {
    text-align: center;
}
