.skin-blue .main-header .logo {
    background-color: #22646e;
}

.skin-blue .main-header .navbar {
    background-color: #22646e;
}

.skin-blue .main-sidebar {
    background-color: #8ca39f;
}

.content-wrapper {
    background-color: #e2e7e3;
}

.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a {
    background: #70827f;
}

.welcomebox {
    text-align: center;
}

.irs-from, .irs-to, .irs-single {
    background: #22646e;
}

.irs-bar {
    background: #22646e;
    border-top-color: #22646e;
    border-bottom-color: #22646e;
}